@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  font-size: 62.5%;
  --primary-color: #eff1fa;
  --color-text-primary: #0a3871;
  --color-text-grey: #495057;
  --container-padding-desktop: 3rem;
  --font-size-principal-text: clamp(3rem, calc(2vw + 0.5rem), 3.8rem);
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
}

/*-------------- Container Principal --------------*/
.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1.5rem;
  max-width: 1800px;
  max-height: 1600px;
  gap: 4rem;
}

/*----------- Header com a Imagem --------------*/
header {
  width: 100%;
}

.logoAlura {
  width: 3rem;
}

/*----------- Input e botões --------------*/
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

/* Wrapper */
.inputAndButtonsWrapper {
  width: 100%;
}

/* Input */
.inputContainer {
  display: flex;
  align-items: start;
}

#textInput {
  width: 100%;
  height: 30rem;
  font-size: var(--font-size-principal-text);
  font-weight: 500;
  color: var(--color-text-primary);
  background-color: var(--primary-color);
  border: none;
  outline: none;
  resize: none;
}

/* Span */
.spanContainer {
  margin-bottom: 1.5rem;
}

.spanContainer span {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  font-size: 1.2rem;
  color: var(--color-text-grey);
}

/* Buttons */
.buttonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

button {
  width: 100%;
  font-size: 1.6rem;
  padding: 2rem 1rem;
  border-width: 0.1rem;
  border-radius: 2.5rem;
  font-weight: 300;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  filter: brightness(1.2);
  transition: filter 0.3s;
}

main button:first-of-type {
  background-color: var(--color-text-primary);
  color: white;
}

main button:last-of-type {
  border-color: var(--color-text-primary);
  color: var(--color-text-primary);
  background: var(--primary-color);
}

/*-------------- Aside com a mensagem criptografrada --------------*/
aside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 2.7rem;
  box-shadow: 0px 24px 32px -8px #00000014;
}

#no-result-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fotoPersonagem {
  width: 15rem;
}

aside h1 {
  font-size: 2rem;
  text-align: center;
}

aside span {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-text-grey);
}

#result-area {
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
  width: 100%;
}

#result-exibition {
  font-size: calc(var(--font-size-principal-text) * 0.75);
  color: var(--color-text-grey);
  width: 100%;
  word-wrap: break-word;
  overflow: auto;
}

aside button {
  border-color: var(--color-text-primary);
  color: var(--color-text-primary);
  background: #ffffff;
  width: 100%;
}

/*-------------- Media queries --------------*/

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    padding: 3.5rem 2rem;
  }
  .inputAndButtonsWrapper {
    padding-top: 4rem;
  }

  .buttonsWrapper {
    flex-direction: row;
  }

  #textInput {
    height: 44rem;
  }

  .fotoPersonagem {
    width: 25rem;
  }

}

@media screen and (min-width: 1025px) {
  .container {
    gap: 6rem;
    max-height: 1600px;
    padding: var(--container-padding-desktop);
  }

  header {
    width: auto;
    max-height: 1600px;
  }

  main {
    width: 50dvw;
    height: calc(100dvh - calc(var(--container-padding-desktop) * 2));
    max-height: 1600px;
  }

  .inputAndButtonsWrapper {
    padding-top: 8rem;
    padding-left: 8rem;
  }

  #textInput {
    height: calc(100dvh - var(--container-padding-desktop) * 9);
    max-height: 1385px;
  }

  aside {
    width: 25dvw;
    height: calc(100dvh - calc(var(--container-padding-desktop) * 2));
    max-height: 1600px;
  }

  .fotoPersonagem {
    width: 30rem;
  }
}
