@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  font-size: 62.5%;
  --primary-color: #f3f5fc;
  --color-text: #0a3871;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  
}

/*-------------- Container Principal --------------*/
.container {
  display: flex;
  gap: 5rem;
  
  height: 100dvh;
  max-width: 1800px;
}

/*----------- Header com a Imagem --------------*/
header {
  border: 1px solid red;
  height: 100%;
}
.logoAlura {
  width: 10rem;
}

/*----------- Input e botões --------------*/
main {
  border: 1px solid red;
  
  display: flex;
  flex-direction: column;
}


/* Wrapper */
.inputAndButtonsWrapper {
  margin-top: 5rem;
  /* margin-left: 20rem; */
}

/* Input */
.inputContainer {
  
  display: flex;
  align-items: start;
}

#textInput {
  
  font-size: 3rem;
  color: var(--color-text);
  background-color: var(--primary-color);
}

/* Span */
.spanWrapper {
  width: 100%;
}

/* Buttons */
.buttonsWrapper {
  border: 1px solid red;
  
  display: flex;

  gap: 3rem;
}

button {
  font-size: 1.8rem;
  padding: 1.8rem 1rem;
  border-radius: 1.5rem;
}

/*-------------- Lado direito com a mensagem criptografrada --------------*/
aside {
  border: 1px solid red;
}
